{% extends 'base.html.twig' %}

{% block title %}New Tournage{% endblock %}

{% block body %}

  
    {{ include('tournage/_form.html.twig') }}

   {# <a href="{{ path('app_tournage_index') }}">back to list</a>#}

{% endblock %}
