{% extends 'base.html.twig' %}

{% block title %}New Realisateur{% endblock %}

{% block body %}
   

    {{ include('realisateur/_form.html.twig') }}

     {# <a href="{{ path('app_realisateur_index') }}">back to list</a>#}

{% endblock %}
