{% extends 'base.html.twig' %}

{% block title %}Edit SocieteDeProduction{% endblock %}

{% block body %}
    {#<h1>Edit SocieteDeProduction</h1>#}

    {{ include('societe_de_production/_form.html.twig', {'button_label': 'Update'}) }}

    {#<a href="{{ path('app_societe_de_production_index') }}">back to list</a>#}

    {#{{ include('societe_de_production/_delete_form.html.twig') }}#}
{% endblock %}
