{% extends 'base.html.twig' %}

{% block title %}New SocieteDeProduction{% endblock %}

{% block body %}
   

    {{ include('societe_de_production/_form.html.twig') }}

    {#<a href="{{ path('app_societe_de_production_index') }}">back to list</a>#}

{% endblock %}
